*.class
.DS_Store
#.classpath
/postmaster/.classpath
/PostmasterClient/.classpath
#.project
/postmaster/.project
/PostmasterClient/.project
.settings
bin
target
/PostmasterClient/bin
/PostmasterClientNonMaven/bin
/postmaster/target

postmaster/src/test/java/io/postmaster/testtest.java

PostmasterClientNonMaven/.classpath

PostmasterClientNonMaven/.project

.classpath

.project
